@import 'tailwindcss';

/* 🎨 Background grid */
.fc .fc-daygrid-day-frame {
  @apply bg-gray-50; /* soft gray */
}

.fc .fc-toolbar-chunk button {
  @apply text-white bg-gray-700 px-4 py-1.5 rounded-md font-medium capitalize transition-colors duration-200;
}

.fc .fc-toolbar-chunk button:hover {
  @apply bg-gray-600;
}

.fc .fc-toolbar-title {
  @apply font-bold text-xl;
}

.fc-daygrid-day-top {
  @apply p-1;
}

.fc-daygrid-day-number {
  @apply text-gray-800 text-sm font-bold;
}

.fc-daygrid-day.today-highlight {
  background-color: #e0f2fe !important; 
  border: 2px solid #0ea5e9 !important; 
}
.fc-day-today {
  content: 'NOW';
  background-color: #e0f2fe !important;
  border: 2px solid #0ea5e9 !important;
}
